.about_container{
    height: 100vh;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #343a40;
    color: white;
}
.about_img{
    background: url('/about_section.jpg') no-repeat center center;
    background-size: cover;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
}

.col_txt{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 830px) {
    .about_img{
        display: none;
    }

    .col_txt{
        line-height: 2.7;
    }
  }