.header{
    height: 100vh;
    max-height: 900px;
    background: url('/main.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}