.map_container{
    width: 100%;
    height: 431px;
    color: white;
    /* border: 1px solid black; */
}
.map{
    width: 100%;
    height: 350px;
    /* border: 1px solid yellow; */
}

.contat_cards{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin-bottom: 15px;
}