.header_menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  color: white;
  /* padding: 0 25px; */
  transition: all 0.2s linear 0s;
  min-height: 80px;
}

.afix {
  background-color: #343a40;
  border-bottom: 1px solid #495057;
  min-height: 80px;
  transition: all 0.2s linear 0s;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  /* display: none; */
  width: 100%;
}

.header_burger_menu_container {
  display: none;
  position: relative;
  background-color: #343a40;
  width: 100%;
}

.header_burger_menu {
  padding: 0 10px;
}

.menu{
  display: none;
}

.link:hover {
  color: #ff214f;
}
.nav_brand {
  padding: 1.25rem 0;
  font-size: 1.25rem;
  white-space: nowrap;
}

.nav_logo {
  width: 130px;
  transition: all 0.2s linear 0s;
}
.afix_logo {
  display: none;
  transition: all 0.2s linear 0s;
}

.nav_brand_text {
  display: none;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ff214f;
  font-family: "Oswald", sans-serif;
  transition: all 0.2s linear 0s;
}

.afix_txt {
  display: block;
  transition: all 0.2s linear 0s;
}



@media (max-width: 700px) {
  .header_container{
    display: none;
  }

  .header_burger_menu_container{
    display: block;
  }

  .menu{
    display: block;
  }

  .header_men {
    padding: 0;
  }

  .custom_navbar {
    min-height: 80px;
  }
}

@media (max-width: 830px) {
  .nav_brand{
    display: none;
  }
  .header_menu{
    display: flex;
  }
}