.nav_brand,
.nav_logo {
  width: 110px;
  display: inline-block;
  margin: auto;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s linear 0s;
}
.nav_brand {
  text-align: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.nav_brand_text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear 0s;
  font-family: "Oswald", sans-serif;
  color: #ff214f;
}

.custom_navbar {
    min-height: 140px;
}
.fixed_top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar_expand_lg {
    /* background-color: lightgray; */
    position: absolute;
   
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  background-color: rgba(33, 37, 41, 0.85);
}

